<% title "Szkolenia" %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>City</th>
      <th>Price Per Person</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.id %>   </td>
        <td><%= training.name %> </td>
        <td><%= training.start_date %>     </td>
        <td><%= training.end_date %>     </td>
        <td><%= training.city %>     </td>
        <td><%= training.price_per_person %>     </td>
        <td>
          <%= link_to 'Zapisz się', new_training_order_item_path(training) , class: 'btn btn-mini btn-success' %>
          <%# link_to 'Edit', edit_training_path(training), class: 'btn btn-mini btn-info' %>
          <%# link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "+ Dodaj Szkolenie", new_training_path %></p>