<% title "Participant" %>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <%= link_to "Edit", edit_participant_path(@participant) %> |
  <%= link_to "Destroy", @participant, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", participants_path %>
</p>
