<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">IQM</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <%# menu_item("Home", root_path) %>
          <%= menu_item("Offers", offers_path) %>
          <%= menu_item("Szkolenia", trainings_path) %>
          <%= menu_item("Zamówienia", orders_path) %>
          <%# menu_item("Order Items", order_items_path) %>
          <%# menu_item("Seats", seats_path) %>
          <%= menu_item("Osoby", clients_path) %>
          <%= menu_item("Firmy", companies_path) %>            
          <%= menu_item("Adresy", addresses_path) %>            
          <%# menu_item("Zapisz się", new_training_order_path(Training.find(1))) %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>