<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">IQM</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <%= menu_item("Home", root_path) %>
          <%= menu_item("Offers", offers_path) %>
          <%= menu_item("Trainings", trainings_path) %>
          <%# menu_item("Customers", customers_path) %>
          <%= menu_item("Orders", orders_path) %>
          <%= menu_item("Order Items", order_items_path) %>
          <%= menu_item("Clients", clients_path) %>
          <%= menu_item("Companies", companies_path) %>          
          <%= menu_item("Customers", customers_path) %>          
          <%= menu_item("Zapisz się", register_path(1)) %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>