<% title "Clients" %>

<table>
  <tr>
    <th>Name</th>
    <th>Phone 1</th>
    <th>Phone 2</th>
    <th>Email</th>
    <th>Type</th>
    <th>Company</th>
    <th>Confirmed?</th>
  </tr>
  <% for client in @clients %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.phone_1 %></td>
      <td><%= client.phone_2 %></td>
      <td><%= client.email %></td>
      <td><%= client.company_id %></td>
      <td><%= client.confirmed %></td>
      <td><%= link_to "Show", client %></td>
      <td><%= link_to "Edit", edit_client_path(client) %></td>
      <td><%= link_to "Destroy", client, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Client", new_client_path %></p>
