<% title "Customer" %>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>
<p>
  <strong>Phone 1:</strong>
  <%= @customer.phone_1 %>
</p>
<p>
  <strong>Phone 2:</strong>
  <%= @customer.phone_2 %>
</p>
<p>
  <strong>Customerable:</strong>
  <%= @customer.customerable_id %>
</p>
<p>
  <strong>Customerable Type:</strong>
  <%= @customer.customerable_type %>
</p>

<p>
  <%= link_to "Edit", edit_customer_path(@customer) %> |
  <%= link_to "Destroy", @customer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", customers_path %>
</p>
