<tr>
<%= f.hidden_field :training_id, value: t.id %>
<%= f.simple_fields_for :client, include_id: false, defaults: { label: false, wrapper_html: { class: '' }, input_html: { class:'' } } do |builder| %>
  <td class="no"><%= index %></td>
  <td class="name"><%= builder.input :name%></td>
  <td class="email"><%= builder.input :email  %></td>
  <td class="tel">  <%= builder.input :phone_1 %></td>
  <td class="position">  <%= builder.input :position %></td>
  <td class="book">
    <% if t.has_book? %>
      <% f.object.book = "1" if f.object.book.nil? %>
      <% book_price = (f.object.book=="1") ? t.book.price : 0 %>
      <%= f.input :book, as: :boolean, label: false, hint: t.book.price.to_s %>
    <% end -%>
  </td>

  <td class="price"><%= t.price_per_person + book_price.to_i %>
  </td>
  <td class="trashbin">
    <% if index!=1 %>
      <%= f.hidden_field :_destroy, value: "" %><%= link_to raw('<i class="icon-trash"></i>'), '#', class: "remove_seat_btn"  %>
    <% end %>
  </td>
<% end -%>
</tr>