<% title "Orders" %>

<table>
  <tr>
    <th>Status</th>
    <th>Date Placed</th>
    <th>Customer</th>
    <th>Customer Type</th>
    <th>Coordinator</th>
  </tr>
  <% for order in @orders %>
    <tr>
      <td><%= order.status %></td>
      <td><%= order.date_placed %></td>
      <td><%= order.customer_id %></td>
      <td><%= order.customer_type %></td>
      <td><%= order.coordinator_id %></td>
      <td><%= link_to "Show", order %></td>
      <td><%= link_to "Edit", edit_order_path(order) %></td>
      <td><%= link_to "Destroy", order, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Order", new_order_path %></p>
