<% title "Zamówienia" %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Klient</th>
      <th>Koordynator</th>
      <th>Status</th>
      <th>Data złożenia</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.customer.try(:name) %></td>
        <td><%= order.coordinator.try(:name) %></td>
        <td><%= order.status %></td>
        <td><%= order.date_placed %></td>
        <td>
          <%# link_to 'Zobacz pozycję', new_order_order_item_path(order) , class: 'btn btn-mini btn-success' %>
          <%# link_to 'Edit', edit_order_path(order), class: 'btn btn-mini btn-info' %>
          <%# link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>