<% title "Order" %>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>
<p>
  <strong>Date Placed:</strong>
  <%= @order.date_placed %>
</p>
<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>
<p>
  <strong>Customer Type:</strong>
  <%= @order.customer_type %>
</p>
<p>
  <strong>Coordinator:</strong>
  <%= @order.coordinator_id %>
</p>

<p>
  <%= link_to "Edit", edit_order_path(@order) %> |
  <%= link_to "Destroy", @order, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", orders_path %>
</p>
