<% title "Companies" %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone 1</th>
      <th>Phone 2</th>
      <th>Nip</th>
      <th>Regon</th>
      <th>Confirmed</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% for company in @companies %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.email %></td>
      <td><%= company.phone_1 %></td>
      <td><%= company.phone_2 %></td>
      <td><%= company.nip %></td>
      <td><%= company.regon %></td>
      <td><%= company.confirmed %></td>
      <td>
      <%= link_to "Show", company, class: 'btn btn-mini btn-success' %>
      <%= link_to "Edit", edit_company_path(company), class: 'btn btn-mini btn-warning' %>
      <%= link_to "Destroy", company, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "+ Dodaj Company", new_company_path %></p>
