<% title "Company" %>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>
<p>
  <strong>Phone 1:</strong>
  <%= @company.phone_1 %>
</p>
<p>
  <strong>Phone 2:</strong>
  <%= @company.phone_2 %>
</p>
<p>
  <strong>Nip:</strong>
  <%= @company.nip %>
</p>
<p>
  <strong>Regon:</strong>
  <%= @company.regon %>
</p>

<p>
  <%= link_to "Edit", edit_company_path(@company) %> |
  <%= link_to "Destroy", @company, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", companies_path %>
</p>
