<div class="tab-pane <%= "active" if i==0 %>" id="quote<%= f.object.id %>">
  <fieldset>

    <%= field_with_prepend f, name: :name, wrapper_html_class: "quote_field", input_html_class: "input-small" %>
    <%= field_with_prepend f, name: :event_date, as: :string, wrapper_html_class: "quote_field", 
                              input_html_class: "input-small", prepend_text: raw(iconize("calendar")) %>
    <%= field_with_prepend f, name: :event_type, wrapper_html_class: "quote_field", input_html_class: "input-small",
                              prepend_text: raw(iconize("list")), collection: %w(P2F P2P ITIL MoR) %>
    <%= field_with_prepend f, name: :number_of_days, wrapper_html_class: "quote_field", input_html_class: "input-micro", 
                              prepend_text: "# of days", type: "number", step: 1 %>
    <%= field_with_prepend f, name: :vat, wrapper_html_class: "quote_field", input_html_class: "input-mini",
                              prepend_text: "vat", collection: f.object.vat_values %>                          
    <%= f.hidden_field :_destroy %>
    <%= link_to raw('<i class="icon-trash"></i>'), '#', class: "remove_quote_btn", id: "q_#{f.object.id}" %>
    
    <div class="clearfix"></div>

    <%= f.simple_fields_for :income_variants, defaults: { label: false, wrapper_html: { class: 'income_variant_field' }, 
                                              input_html: { class:'input-mini' } } do |builder| %>
      <%= render 'income_variant_fields', f: builder %>
    <% end %>
    <%= link_to_add_variant raw('<i class="icon-plus-sign icon-white"></i>'), f, :income_variants %>
    
    <%= render 'quote_totals_table', f: f %>

    <div class="clearfix"></div>

    <%= render 'cost_items_table', f: f %>
    <%= link_to_add_cost_item raw('<i class="icon-plus-sign icon-white"></i> Add Cost Item'), f, :cost_items %>
  </fieldset>
</div>