<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">
      bkLib.onDomLoaded(function() { 
        nicEditors.allTextAreas({buttonList : ['bold','italic','underline','left','center','right','ol','ul','subscript','superscript','strikethrough','removeformat','indent','outdent','hr','image','upload','forecolor','bgcolor','link','unlink' ,'fontSize' ,'fontFamily' ,'fontFormat' ,'xhtml']})
        });
      </script>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'shared/header' %>

    <div class="container">

      <%= render 'shared/flash_message' %>

      <div class="row">
        <% if content_for?(:menu) %>
          <div class="span3"><%= yield(:menu) %></div>
          <div class="span9"><%= yield(:content) %></div>
        <% else %>
          <div class="span12"><%= yield %></div>
        <% end -%>
      </div>

    </div> <!-- /container -->

  </body>
